* {
    box-sizing: border-box;
    background-color: rgb(23, 23, 25);
    padding: 10px;
    color: rgb(23, 23, 25);
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    font-size: 14px;
    height: auto;
}

.Card1 {
    position: relative;
    margin-top: auto;
}

.Card2 {
    position: relative;
    margin: auto;
}

.Button {
    background-color: rgb(20, 20, 22);
    border-radius: 10px;
    border-color: transparent;
}